/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a minor seventh scale (16:9)
  http://www.modularscale.com/?18&px&1.778&web&text
*/

html {
  font-size: 1.125em; /* 18px */
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 1.222em; /* 22px = 1 gridline*/
  background-color: #ddaaaa;
  padding: 1.222em;
}

h1 {
  color: #a34747;
  font-size: 3.161em; /* 56.903px */
  line-height: 1.293em; /*44px @ 56.903px */
}

h2 {
  font-size: 1.778em; /* 32.004px */
  line-height: 1.454em; /* 22px @ 32.004px */
  color: #6d0000;
  padding: 1.222em;
}

p, ul {
  padding: 1.222em;  /* one grid line at 22px */
  color: #a34747;
}

li {
  color: #A10000;
  padding-bottom: 0.611em; /* 11px = half gridline*/
}

li:last-child {
  padding-bottom: 0;
}

figcaption {
  font-size: 1em; /* 18px */
  line-height: 1.222em; /*22px @ 18px */
}

/* ===== LAYOUT STYLES ===== */

.first {
  background-color: #e69598;
}

.welcome, .beginning, .end, .school, .work {
  background-color: #bbccdd;
}
.middle, .facts, .volunteer, .skills{
  background-color: #aaccbb;
}

.facts {
  padding-left: 1.222em;
  padding-bottom: 1.222em;
}

.u-email {
  padding-bottom: 1.222em; /*one gridline */
}

/* ===== STATE STYLES ===== */
#page {
  padding-top: 0;
}

.flexbox #header{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.flexbox h1, h2{
  display: column;
  order: 2;
  align-items: left;
  text-align: center;
  padding-bottom: 0.306em; /*one-fourth of a gridline*/
  padding-right: 0.306em;
}

.flexbox ul, li{
  order: 1;
  display: inline-block;
  align-content: center;
  flex-direction: row;  
  padding-right: 1.222em;
  
}

.flexbox .u-email {
  display: flex;
  order: 3;
  align-content: left; 
}

.flexbox .photo, .video, figcaption{
  display: inline;
  align-items: center;
}

/* 463 @ 18px/em */
@media screen and (min-width: 25.72em) {
h1 {
  text-align: center;
  font-size: 3.161em; /* 56.903px */
  line-height: 1.16em; /* 66px @ 56.903px em */
}

.flexbox ul, li{
  order: 1;
  display: ;
  text-align: row; 
  padding-right: 1.222em;
  
}
 
.flexbox #header{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

}

/* 900 @ 18px/em */
@media screen and (min-width: 50em) {
h1 {
  text-align: center;
  font-size: 3.161em; /* 56.903px */
  line-height: 1.16em; /* 66px @ 56.903px em */
}

#page {
  padding-left: 2.391304348%; /* 11px margin / 460px viewport = 0.02391304348% */
  padding-righ: 2.391304348%;
}

h2{
  order: 1;
  text-align: left;
}

.flexbox .work, 
.skills, .school, .volunteer{
  display: flex;
  text-align: left;
}

}